<mat-toolbar color="primary" fxLayoutAlign="center center">
    <span>Sales Analytics</span>
</mat-toolbar>

<div class="content login" fxLayout="row" fxLayout.xs="column " fxFlexFill fxLayoutAlign="center center">

  <div fxFlex="30"  fxFlex.xs="100"  fxFlex.sm="80">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form class="example-form">
                <div class="example-container" fxLayout="column">
                  <mat-form-field fxFlex>
                    <input matInput placeholder="Username">
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <input matInput placeholder="Password" type="password">
                  </mat-form-field>

                </div>
              </form>
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="login()" color="primary">Login</button>
            </mat-card-actions>
          </mat-card>
  </div>

</div>
  





      

