<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     [mode]="'over'"
    [opened]="false"> 
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="navClick('exportPdf')">Export as pdf</a>
      <a mat-list-item (click)="navClick('exportExcel')">Export as excel</a>
      
      <a mat-list-item (click)="openReportIssuedailog()">Report an issue</a>
      <a *ngIf="username == 'admin'" mat-list-item (click)="openUserdailog()">Add new user</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav
    #drawerEnd
    class="sidenav sidenav-right"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
     [mode]="'over'"
     [position]="'end'"
    [opened]="false"> 
    <mat-toolbar color="primary">Menu</mat-toolbar>
    
        <!-- <mat-form-field style="padding-left: 10px">
            <mat-select placeholder="Category"  multiple>
              <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
            </mat-select>
        </mat-form-field>
         
        <mat-form-field style="padding-left: 10px">
          <mat-select placeholder="Group"  multiple>
            <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
          </mat-select>  
        </mat-form-field>
     
        <mat-form-field style="padding-left: 10px">
          <mat-select placeholder="SubGroup"  multiple>
            <mat-option *ngFor="let sub of subGroups" [value]="sub">{{sub}}</mat-option>
          </mat-select>    
        </mat-form-field>
          
        <div class="button-row" align="center">
          <button color="primary" mat-raised-button class = "mat-raised-button mat-primary">Apply Filters</button>
        </div> -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Super Category
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list-container">
                <mat-selection-list  #supercatgory  [(ngModel)]="supcatSelectedOptions" (ngModelChange)="onChangesupCat($event)">
                  <mat-list-option [checkboxPosition]="'before'" *ngFor="let supcat of superCategories" [value]="supcat">
                    {{supcat}}
                  </mat-list-option>
                </mat-selection-list>
                </div>
              </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Category
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="list-container">
            <mat-selection-list  #catgory  [(ngModel)]="catSelectedOptions" (ngModelChange)="onChangeCat($event)">
              <mat-list-option [checkboxPosition]="'before'" *ngFor="let cat of categories" [value]="cat">
                {{cat}}
              </mat-list-option>
            </mat-selection-list>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Group
              </mat-panel-title>
              
             
            </mat-expansion-panel-header>
            <div class="list-container">
            <mat-selection-list  #vgroup [(ngModel)]="groupSelectedOptions" (ngModelChange)="onChangeGroup($event)">
              <mat-list-option [checkboxPosition]="'before'" *ngFor="let group of groups" [value]="group" >
                {{group}}
              </mat-list-option>
            </mat-selection-list>
            </div>
          
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sub Group
              </mat-panel-title>
             
             
            </mat-expansion-panel-header>
            <div class="list-container">
            <mat-selection-list  #vsubGroup [(ngModel)]="subSelectedOptions" >
              <mat-list-option [checkboxPosition]="'before'" *ngFor="let sub of subGroups" [value]="sub">
                {{sub}}
              </mat-list-option>
            </mat-selection-list>
            </div>
          
          </mat-expansion-panel>
        </mat-accordion>
        <div class="button-row" align="center">
          <button color="primary" mat-raised-button class = "mat-raised-button mat-primary" (click)="onFilter()" style="margin-top: 20px">Apply Filters</button>
          <button color="primary" mat-raised-button class = "mat-raised-button mat-primary" (click)="onReset()" style="margin-top: 20px;margin-left: 20px">Reset</button>
        </div> 
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon" style="color: #ffffff">menu</mat-icon>
      </button>
      <div align="center" style="width:100%">
        <span style="color: #ffffff"   (click)="drawerEnd.close()">SF Pricing Framework</span>
      </div>
      <span class="example-spacer"></span>
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawerEnd.toggle()"
      >
      <mat-icon aria-label="Side nav toggle icon"  style="color: #ffffff">menu</mat-icon>
    </button>
    </mat-toolbar>
  <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
