.mat-table{
    width: 100%
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e2e0e0;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #edeaea;
}
kendo-pdf-document td {
    color: red !important;

}
.sku-class{
    color: blue
}
.no-sku-class{
    color: red
}


